<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/new/styles.e6239eea.css">
    <title>Online IP camera Viewer</title>
    <link rel="stylesheet" href="/static/new/app.ae5766a8.css">
</head>

<body>
    <div
        class="container card card-color br3 ba dark-gray b--black-10 mv4 w-50-m mw6 center shadow-5 pa4 black-80 w-40">
        <Particles className="particles" options="{Particlesoptions}"></Particles>
        <script>var e = { fpsLimit: 60, interactivity: { detectsOn: "canvas", events: { onClick: { enable: !0, mode: "push" }, onHover: { enable: !0, mode: "repulse" }, resize: !0 }, modes: { bubble: { distance: 400, duration: 2, opacity: .8, size: 40 }, push: { quantity: 4 }, repulse: { distance: 200, duration: .4 } } }, particles: { color: { value: "#ffffff" }, links: { color: "#ffffff", distance: 150, enable: !0, opacity: .5, width: 1 }, collisions: { enable: !0 }, move: { direction: "none", enable: !0, outMode: "bounce", random: !1, speed: 6, straight: !1 }, number: { density: { enable: !0, value_area: 800 }, value: 70 }, opacity: { value: .5 }, shape: { type: "circle" }, size: { random: !0, value: 5 } }, detectRetina: !0 };</script>
        <form action="" id="Form1">
            <h2 class="text-center f2 fw6 ph0 mh0">Add new Camera</h2>
            <div class="form-row"> <label for="name">Camera Name</label> <input type="text"
                    class="input-text input-text-block w-100 b pa2 input-reset ba bg-transparent hover-bg-black hover-white"
                    id="name" name="name"> </div>
            <div class="form-row"> <label for="location">Location</label> <input type="text"
                    class="input-text input-text-block w-100 b pa2 input-reset ba bg-transparent hover-bg-black hover-white"
                    id="location" name="location"> </div>
            <div class="form-row"> <label for="username">User Name</label> <input type="text"
                    class="input-text input-text-block w-100 b pa2 input-reset ba bg-transparent hover-bg-black hover-white"
                    id="username" name="username"> </div>
            <div class="form-row"> <label for="password">Password</label> <input type="password"
                    class="input-text input-text-block w-100 b pa2 input-reset ba bg-transparent hover-bg-black hover-white"
                    id="password" name="password"> </div>
            <div class="form-row"> <label for="ip">IP</label> <input type="ip"
                    class="input-text input-text-block w-100 b pa2 input-reset ba bg-transparent hover-bg-black hover-white"
                    id="ip" name="ip"> </div>
            <div class="form-row"> <label for="port">RSTP Port</label> <input type="test"
                    class="input-text input-text-block w-100 b pa2 input-reset ba bg-transparent hover-bg-black hover-white"
                    id="port" name="port"> </div>
            <div class="form-row"> <label for="port1">HTTP Port</label> <input type="test"
                    class="input-text input-text-block w-100 b pa2 input-reset ba bg-transparent hover-bg-black hover-white"
                    id="port1" name="port1"> </div>
            <div class="form-row"> <label for="channel">Channel Number</label> <input type="number" max="32"
                    class="input-text input-text-block w-100 b pa2 input-reset ba bg-transparent hover-bg-black hover-white"
                    id="channel" name="Channel"> </div>
            <div class="form-row mx-auto"> <button type="submit" class="btn-submit" id="btnSubmit"> Submit </button>
            </div>
        </form>
    </div>
    <script src="/static/new/app.1bec1d24.js"></script>
</body>

</html>